.test {
    object-fit: cover;
}

.bulle-style-2 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d0d0d0;
    border-radius: 5px;
    height: 45px;
    justify-content: space-between;
    left: 30px;
    overflow: hidden;
    position: relative;
    top: 20px;
    width: 270px;
}

.bulle-style-2 .information {
    color: #000000;
    font-family: "sans-serif", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 0;
    align-items: center;
    position: sticky;
    width: auto;
    z-index: 1;
}

.bulle-style-2 .value{
    color: #000000;
    font-family: "sans-serif", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
    z-index: 0;
}

.bulle-style-2 img.value{
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    position: relative;
    align-self: center;
    background-position: center;
    left: auto;
}

.bulle-style-2:hover {
    background-color: #efefef;
    top: 145px;
}

.bulle-style-2:hover .div {
    width: fit-content;
}

.frame-style-2 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d0d0d0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    max-height: 400px;
    min-height: 265px;
    position: relative;
}

.frame-style-2 .profil-user-instance {
    left: unset !important;
    top: unset !important;
}

.frame-style-2 .level-instance {
    left: unset !important;
    top: unset !important;
    width: 270px !important;
}