@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-channel {
        @apply h-1/6 m-2.5
        flex justify-around items-center cursor-pointer
        bg-white rounded-md shadow-lg box-border
    }
    .main-card {
        @apply grid grid-rows-1 grid-cols-5 max-h-[70px]
        h-1/5 m-2.5 cursor-pointer border
        bg-white rounded-md shadow-lg box-border
    }
    .avatar-card {
        @apply col-span-1 
        w-full h-full 
        object-cover
        flex justify-center items-center
    }
    .name-card {
        @apply
        h-full w-full col-span-2
        flex justify-center items-center 
        text-black/60
    }
    .bouton1-card {
        @apply 
        rounded w-[80%] h-[80%]
        border border-black/60 active:bg-gray-400 
        focus:outline-none focus:ring focus:ring-gray-300 
        hover:no-underline hover:text-black hover:bg-gray-200
        text-black/60
    }
}

@layer components {
    .m-card {
        @apply h-full w-full
        bg-gray-200/80
        border rounded-lg
    }
    .header-card {
        @apply h-[10%] 
        flex justify-center items-center 
        rounded-t-md shadow-lg bg-white/90
        font-bold
    }
    .body-card {
        @apply h-full max-h-[90%] m-1
        justify-center items-center 
        rounded-md gap-5
        box-border justify-center items-center 
        overflow-y-auto
    }
    .bouton-join-game-card {
        @apply rounded w-[80%] h-[80%] bg-transparent border border-black
        hover:bg-blue-500/40 hover:no-underline hover:text-white
        focus:outline-none focus:ring focus:border-black/60 focus:ring-blue-500/30
        active:bg-blue-500/30 text-white
    }
    .chat-button {
        @apply h-12 border border-black/30 rounded shadow-md hover:bg-black/20 hover:no-underline
    }
    .chat-bubble-component {
        @apply h-12 p-2 pt-2.5 resize-none rounded-md border border-black/30
    }
    .chat-side-bar-component {
        @apply min-h-[1000px] col-span-2 grid bg-gray-100/60 p-6 gap-5
    }
    .popup-settings-card {
        @apply w-full h-full fixed top-0 left-0 
        flex justify-center items-center bg-black/60 bg-opacity-80 z-40
    }
    .group-matchHistory-card {
      @apply col-span-1 flex justify-center items-center h-full w-full
    }
    .text-matchHistory-card {
      @apply text-white text-sm flex justify-center items-center
  }
}

.typing {
    width: 5.5em;
    height: 3em;
    position: relative;
    padding: 20px;
    margin-left: 5px;
    background: #4d4c4c;
    border-radius: 8px;
  }
  
  .typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #f0f0f1;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
  }
  
  .typing__dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .typing__dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing__dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }