@import "./test.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	box-sizing: border-box;
	min-height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	/*background: white;*/
	background: url(../../public/wallpaper.png);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}