.dropdown {
	position: relative;
}

.test {
	cursor: pointer;
}

.menu {
	position: absolute;

	list-style-type: none;
	margin: 5px 0;
	padding: 0;

	border: 1px solid grey;
	width: 150px;
}

.menu>li {
	margin: 0;

	background-color: rgb(255, 255, 255);
}

.menu>li:hover {
	background-color: rgb(255, 4, 4);
}

.menu>li>button {
	width: 100%;
	height: 100%;
	text-align: left;

	background: none;
	color: inherit;
	border: none;
	padding: 5px;
	margin: 0;
	font: inherit;
	cursor: pointer;
}