.divpong {
	display: flex;
	position: absolute;
	/*height: 95%;
	width: 100%;*/
	width: 100%;
	height: 80%;
	flex-direction: column;
	justify-content: space-between;
	/*justify-content: center;
	align-items: center;*/
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	height: 100vh;
}

.box {
	display: flex;
	flex-basis: calc(50% - 20px);
	height: calc(50% - 20px);
	margin: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box2 {
	display: flex;
	flex-direction: column;
	flex-basis: calc(50% - 20px);
	height: calc(50% - 20px);
	margin: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

.box1 {
	/* Styles pour la boîte en haut à gauche */

	background-color: #ff0000;
	display: flex;
	/* Utiliser Flexbox pour centrer le contenu */
	justify-content: center;
	/* Centrer horizontalement */
	align-items: center;
	/* Centrer verticalement */
	text-align: center;
	/* Aligner le texte au centre */
	font-size: 18px;
	/* Taille de police personnalisée */
	color: #ffffff;
	/* Couleur du texte */
}

/*@media screen and (max-width: 768px) {
	.box {
		flex-basis: calc(100% - 20px);
		order: initial;
	}
}*/