.body {
	display: flex;
	background: url('../../public/pong-video-game.gif') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.form {
	color: rgb(252, 101, 0);
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
	flex-direction: vertical;
}

.navigation {
	display: flex;
	background-color: #eee;
	list-style-type: none;
	margin-right: -4px;
	padding: 10px;
	border-right: 1px solid white;
	flex-direction: column;
}