@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .left-component-main {
        @apply col-span-1 max-h-[]
        flex flex-col flex-grow
        justify-start items-start
        p-[10px] gap-5
    }

    .info-profile-component {
        @apply row-span-1
        grid space-y-1
        p-4 rounded

		text-xs text-gray-900 uppercase
        bg-black bg-opacity-60
        /*bg-gray-50 dark:border-black*/
		shadow-md sm:rounded-lg
    }
    .user-stat-component {
        @apply min-h-[100px] max-h-[395px]
        min-w-[350px] w-full h-full
        flex flex-col justify-start
        bg-red-500
    }

    .rest-information-component {
        @apply grid grid-rows-2
        w-full col-span-3 rounded
    }
    .name-component {
        @apply flex
        justify-start items-center
        p-2
    }
    .rank-component {
        @apply grid grid-cols-2
    }
    .up-reset-component {
        @apply grid grid-rows-2
    }
    .current-level-component {
        @apply flex
        h-full grid-cols-2
        justify-start items-center
        p-2 font-black
    }
}
