<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Avatar</title>
</head>
<body>
	<img src="<%= locals.user.avatar %>" alt="Computer man" style="width:60px;height: 60px;">
	<form method="post" enctype="multipart/form-data" action="/user/avatar">
		<input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg">
		<input type="submit" value="Upload">
	  </form>
</body>
</html>