<%- include("../partials/header", {title : "user"}) %>
	<h1>Page d'insctription</h1>
	<form action="" method="post">
		<button type="submit">test</button>
	</form> 
<%- include("../partials/footer") %>