<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/global.css">
	<title><%= title %></title>
</head>
<body>
	<nav>
		<h1>transcendance</h1>
		<ul>
			<% if (locals.connected) { %>
				<img src="<%= locals.user.avatar %>" alt="Computer man" style="width:60px;height: 60px;">
				<form action="/user/avatar" method="get">
					<button type="submit">changer d'avatar</button>
				</form>
				<h1><%= locals.user.username  %></h1>
				<form action="/user/logout" method="post">
					<button type="submit">Sign out</button>
				</form> 
			<% } else { %>
				<li><a href="/user/signup">Inscription</a></li>
				<li><a href="/user/login">connexion</a></li>
			<% } %>
		</ul>
	</nav>