<%- include("../partials/header", {title : "avatar"}) %>
<h1>avatar</h1>
<img class="default-avatar"
	src="../../public/public/512x512bb.jpg">
<form action="" method="post">
	<%- include("../components/input", {type : "avatar", name : "avatar"})%>
	<button type="submit">Changer d'avatar</button>
</form> 
<%- include("../partials/footer") %>