@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .top-bar {
        @apply w-full h-16
        sticky top-0
        flex items-center justify-between
        bg-gray-100 rounded
    }
    .profile-bar-menu {
        @apply w-[150px]
        flex items-center justify-between
    }
    .profil-pictures-with-slanderous-menu {
        @apply rounded
        overflow-hidden
    }
    .menu-slanderous {
        @apply origin-top-right absolute
        right-0 mt-2 w-40
        shadow-lg bg-white
        ring-1 ring-black ring-opacity-5
    }
    .menu-slanderous-bell {
        @apply
        origin-top-right absolute
        right-32 mt-2 w-40
        shadow-lg bg-white
        ring-1 ring-black ring-opacity-5
    }
    .menu-slanderous-glass-search {
        @apply
        origin-top-right absolute
        right-20 mt-2 w-40
        shadow-lg bg-white
        ring-1 ring-black ring-opacity-5
    }
    .bubble-glass-search {
        @apply
        relative
        shadow-lg bg-white
        ring-1 ring-black ring-opacity-5
    }
    .glass-search {
        @apply
        relative w-10
        shadow-lg bg-white
        ring-1 ring-black ring-opacity-5
    }
    .dropdown-menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: ease;
    }
    .dropdown-menu.active {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: ease;
    }

    .menu-slanderous-list {
        @apply block py-2 px-4
        text-sm text-gray-700
        hover:bg-gray-100
        hover:text-gray-900
    }
}